/ProjetHardis-ejb/build/
/ProjetHardis-ejb/dist/
/dist/
/build/
/ProjetHardis-war/build/
/ProjetHardis-war/dist/

*.log
*.lck
*.ctrl
*.dat

*.xml

*.properties
*.xml
*.properties
*.properties
*.properties
*.properties
*.properties
*.properties
*.properties
*.properties
ProjetHardis-ejb/nbproject/private/private.xml
*.properties
*.xml
*.properties
*.properties
*.xml
*.xml
*.properties
*.properties
*.properties
*.xml
